[user]
	email = eduardo.rodrigues@econverse.com.br
	name = EduardoRodriguesF
[advice]
	addIgnoredFile = false
[core]
	editor = nvim
[pull]
	rebase = false
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
	last = log -1 HEAD
[mergetool]
	keepBackup = false
